/* Soluzione qui */
@media screen and (min-width: 576px) {}

@media screen and (min-width: 768px) {
  #topbar {
    justify-content: flex-start;
  }

  main {
    padding: 50px;
  }

  .recipe-name {
    font-size: 1.8rem;
  }

  .recipe-origin {
    display: inline-block;
  }

  .quick-notes ul {
    display: flex;
    flex-wrap: wrap;

  }

  .quick-notes li {
    margin: 15px 20px;
  }

  .social-networks .btn {
    padding: 10px 50px;
  }
}

@media screen and (min-width: 992px) {}