/* Soluzione qui */
@media screen and (min-width: 576px) and (max-width: 767px) {
  .clearfix img {
    float: inline-start;
    margin-right: 15px;
  }

  .social-networks .btn {
    padding: 10px 50px;
  }

}

@media screen and (min-width: 768px) {
  #topbar {
    justify-content: flex-start;
  }

  main {
    padding: 50px;
  }

  .recipe-name {
    font-size: 1.8rem;
  }

  .recipe-origin {
    display: inline-block;
  }

  .quick-notes ul {
    display: flex;
    flex-wrap: wrap;

  }

  .quick-notes li {
    width: calc(100 / 3)
  }

  .social-networks .btn {
    width: 20%;
  }

  .ads {
    display: block;
  }

  .clearfix img {
    float: inline-start;
    margin-right: 15px;
  }
}

@media screen and (min-width: 992px) {
  .recipe-name {
    font-size: 2.3rem;
  }

  .quick-notes ul {
    display: block;
    flex-wrap: nowrap;

  }

  .quick-notes li {
    width: 100%;
  }

  .recipe-card {
    display: flex;
  }

  .recipe-video {
    max-height: 420px;
    width: 65%;
  }

  .recipe-info {
    width: 35%;
  }

  .social-networks .label {
    display: block;
  }

  footer {
    display: flex;
    justify-content: space-between;
    text-align: initial;
  }

}