/* Soluzione qui */
@media screen and (min-width: 576px) {}

@media screen and (min-width: 768px) {
  #topbar {
    justify-content: flex-start;
  }

  main {
    padding: 50px;
  }

  .recipe-name {
    font-size: 1.8rem;
  }

  .recipe-origin {
    display: inline-block;
  }
}

@media screen and (min-width: 992px) {}